<div class="home">
  <div class="area maxi image">
    <span>Sport Store</span>
    <a routerLink="azienda">Scopri &rightarrow;</a>
  </div>
  <div class="area mini">
    <div class="paragrafi">
      <p class="testo centrato zoom">Aquista cio che vuoi...</p>
      <p class="testo centrato zoom">Ovunque tu sia...</p>
      <p class="testo centrato zoom">Con un solo click...</p>
    </div>
  </div>
  <div class="area maxi image">
    <span>Trova ciò che fa per te!</span>
    <a routerLink="negozioArticoli">Esplora &rightarrow;</a>
  </div>
  <div class="area mini">
    <div class="paragrafi">
      <p class="testo giustificato">Ogni grande viaggio inizia con un solo passo. Scopri la forza che non sapevi di avere e trasforma la tua vita attraverso lo sport.</p>
      <p class="testo giustificato">Lo sport non solo costruisce muscoli, ma anche carattere. Inizia oggi e guarda come l'impegno e la dedizione trasformano ogni aspetto della tua vita</p>
      <p class="testo giustificato">Il tuo corpo è l'unico posto in cui vivrai per tutta la vita. Prenditene cura, sfidalo e riscopri la gioia del movimento con lo sport</p>
    </div>
  </div>
</div>
