<footer>
  <div class="area left">
    <span>sports store</span>
    <span>Progetto di Piattaforme e Sistemi Web</span>
    <span>Andrea domenico gimbri, MAT. 209654</span>
    <span>A.A. 2023-2024</span>
  </div>
  <div class="area center">
    <span>
      <a href="http://twitter.com/mrsavagelee" target="_blank">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
    </span>
  </div>
  <div class="area right">
    <span>Tecnologie utilizzate:</span>
    <span>Spring Boot + Spring Security (REST API)</span>
  </div>
</footer>
